@tailwind base;

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('fonts/ProximaNova-Black.woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNova-Extrabld.woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/ProximaNova-SemiboldIt.woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNovaT-Thin.woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/ProximaNova-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('fonts/ProximaNova-BlackIt.woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-BoldIt.woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNova-ThinIt.woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-RegularIt.woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNova-ExtrabldIt.woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('fonts/ProximaNova-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/ProximaNova-LightIt.woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('fonts/ProximaNova-Semibold.woff');
    font-weight: 600;
    font-style: normal;
}



h1 {
    @apply text-2xl text-white;
}
h2 {
    @apply text-xl text-white;
}
h3 {
    @apply text-lg text-white;
}

@tailwind components;

body {
    font-family: 'Roboto', sans-serif;
    background: #020613;
}
.page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

@tailwind utilities;
